body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  background-color: white;
  position: relative;
}

.navbar {
  left: 0;
  top: 0;
  width: 1340px;
  height: 60px;
  place-content: center;
  align-items: center;
  gap: 434px;
  display: flex;
  padding: 0;
}

.logo {
  display: flex;
  width: 129px;
  height: 50px;
  align-items: flex-start;
  overflow: hidden;
}

.name {
  color: #000;
  font-size: 29px;
  font-weight: 900;
  top: 7px;
  white-space: nowrap;
}

.navitems,
.compareContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.compare,
.deals,
.howto,
.aboutus {
  color: #00000080;
  font-size: 18px;
  font-weight: 500;
  width: min-content;
  height: min-content;
  white-space: nowrap;
}
.dealsContainer,
.howtoContainer,
.aboutusContainer,
.compareContainer {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 16px 20px;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
  width: min-content;
  height: min-content;
}

.signupContainer,
.footers,
.footeritems,
.topFooter {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.signupContainer {
  width: min-content;
  height: min-content;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #000;
}

.signup {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.footers {
  margin-top: auto;
  padding: 35px 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

.footeritems {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 56px;
}

.topFooter {
  width: 1152px;
  height: min-content;
  place-content: space-between;
  align-items: center;
}

.footerLogo,
.footerLogoName,
.Inc,
.socialmedia,
.youtubeConatiner {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.footerLogo {
  width: 129px;
  height: 50px;
  align-items: flex-start;
  overflow: hidden;
}

.footerLogoName {
  color: #fff;
  font-size: 29px;
  font-weight: 900;
  left: 0px;
  top: 7px;
  white-space: nowrap;
  flex-direction: column;
}

.Inc {
  color: #ffffff80;
  font-size: 20px;
  font-weight: 900;
  white-space: nowrap;
  flex-direction: column;
}

.socialmedia {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 37px;
}

.youtubeConatiner {
  width: 32px;
  height: 32px;
  align-items: flex-start;
  overflow: hidden;
}

.youtube,
.instaContainer,
.insta,
.twitterContainer,
.twitter {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.youtube {
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url(../public/hdYoutubeLogoPngTransparentBac.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.instaContainer,
.twitterContainer {
  width: 32px;
  height: 32px;
  align-items: flex-start;
  overflow: hidden;
}

.insta,
.twitter {
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.insta {
  background-image: url(../public/_580b57fcd9996e24bc43c5211.png);
}

.twitter {
  background-image: url(../public/twitterIconDownload181.png);
}

.line {
  width: 1152px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  overflow: visible;
}

.lineCharact,
.links,
.Links3 {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.lineCharact {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.links {
  width: 1144px;
  height: min-content;
  align-items: center;
  gap: 213px;
}

.Links3 {
  width: 247px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.link {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline;
  width: 161px;
  height: min-content;
  flex-direction: column;
}

.main {
  width: 1152px;
  flex-direction: column;
  gap: 5px;
  margin-left: 104px;
  margin-top: 40px;
  padding: 0;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
}

.categorySelection {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 8px;
}

.tags {
  width: min-content;
  height: min-content;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.selected,
.unSelected {
  align-self: flex-start;
  padding: 12px 18px;
  width: min-content;
  height: min-content;
  border-radius: 27.027px;
}

.selected {
  background-color: #000;
}

.unSelected {
  background-color: #f2f1f1;
}

.selectedFont,
.unSelectedFont {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.selectedFont {
  color: #eaeaea;
}

.listing,
.relateListing {
  width: 1152px;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns */
}

.relateListing {
  gap: 6px;
}

.post {
  width: 270px;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  border: none;
  text-decoration: none;
  margin-bottom: 24px;
}

.postImg {
  height: 188px;
  align-self: stretch;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.postText {
  display: flex;
  background-color: #eaeaea;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
}

.postCategoryColor {
  width: min-content;
  height: 20px;
  padding: 2.7027px 5.4054px;
  border-radius: 27.027px;
  background-color: #df4949;
}

.postCategory {
  color: #000;
  font-size: 16.2162px;
  font-weight: 600;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.postTitle {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-direction: column;
}

.postReadContainer {
  display: flex;
  opacity: 0.6;
  padding: 11.6692px 14.5865px;
  border-radius: 5.8346px;
  width: min-content;
  height: min-content;
  background-color: #404040;
}

.postRead {
  color: #fff;
  font-size: 13.1278px;
  font-weight: 500;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  flex-direction: column;
}

.title {
  color: #000;
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  left: 105px;
  top: 85px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.mainPost {
  margin-left: 125px;
  margin-top: 100px;
  width: 1100px;
  height: min-content;
  align-items: center;
  gap: 24px;
  padding: 12px;
  border-radius: 12px;
  background-color: #eaeaea;
  display: flex;
  box-sizing: border-box;
  min-width: 0;
  overflow-wrap: anywhere;
}

.related {
  margin-left: 104px;
  margin-top: 1100px;
  width: 1152px;
  height: min-content;
  align-items: center;
  gap: 24px;
  padding: 12px;
  border-radius: 12px;
  background-color: #eaeaea;
  display: flex;
  box-sizing: border-box;
  min-width: 0;
  margin-bottom: 50px;
  overflow-wrap: anywhere;
}

.mainPostItems {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
  width: 434px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 40px;
}
.mainPostTitle,
.mainPostDiscr {
  color: #000;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.mainPostTitle {
  font-size: 24px;
  font-weight: 900;
}

.mainPostDiscr {
  font-size: 16px;
  font-weight: 500;
}

.mainPostReadContainer {
  height: min-content;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #000;
  width: 133px;
  display: flex;
  box-sizing: border-box;
  min-width: 0;
}

.mainPostRead {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: initial;
  height: min-content;
  flex-direction: column;
}

.mainPostImg {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
  overflow-wrap: anywhere;
  align-self: stretch;
  border-radius: 16px;
  background-color: #3e3e3e;
}
